body {
    letter-spacing: 3px;
    font-family: sans;
    color: #349;
}
.button {
    border-radius: 20px;
    background-color: #7ae;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.button:hover {
    background-color: #8bf;
}
.button:active {
    border: 1px solid #8bf;
    background-color: white;
    color: #7ae;
}
body { margin: 5px; }
* { cursor: default; }
/* td { border: 1px solid #9ac; } */

table { border-spacing: 0px; border-collapse: collapse; }
.small {
    font-size: 9px;
}
td { text-align: center; }

.grid table {
    border-spacing: 15px; border-collapse: separate;
}
.grid td {
    border-radius: 5px;
}
.skillBub {
    border: 1px solid #349;
    font-size: 9px;
    letter-spacing: 1px;
}
.jobBub {
    font-size: 11px;
    border-radius: 10px !important;
    letter-spacing: 2px;
    border: 0px;
}
#bio_events {
    vertical-align: top;
    text-align: left;
}
#bio_events_div {
    overflow: auto;
    margin: 20px;
}
.invisible td {
    border: 0px;
}
.comp {
    font-size: 9px;
    float: right;
}
.dropcap { float: left; font-size: 60px; font-family: serif;
	   line-height: 50px; padding-right: 3px; padding-left: 3px;  }
.intro { width: 50%; margin: auto; text-align: justify; border: 0px;  }
.theme { color: red; }